<div class="ui modal delivery">
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="https://image.freepik.com/free-icon/logistics-delivery-truck-in-movement_318-61800.png">
    </div>
    <div class="description">
      <div class="ui header">We can deliver your order everywhere for you!</div>
      <p>We use New Post as main delivery service.</p>
      <p>It can be every town in Ukraine.</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      No, later
    </div>
    <div class="ui positive right labeled icon button">
      Order deliver
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
