<div class="ui modal payment">
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="https://image.freepik.com/free-vector/sketchy-credit-card_23-2147511836.jpg">
    </div>
    <div class="description">
      <div class="ui header">We can take all your money if you want!</div>
      <p>We use PrivatBank as main payment service.</p>
      <p>It can be every town in Ukraine.</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      No, later
    </div>
    <div class="ui positive right labeled icon button">
      Pay order
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
