<div class="ui secondary top large pointing fixed menu top_menu">
  <div class="left item">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
  </div>
  <div class="right item">
    <a class="active item" href="/">
      <%= t('Styles and prices') %>
    </a>
    <a class="delivery item" href="#">
      <%= t('Delivery') %>
    </a>
    <a class="payment item" href="#">
      <%= t('Payment') %>
    </a>
    <div class="item">
      <div class="ui buttons">
        <a href="/en" class="ui button blue">
          EN
        </a>
        <div class="or"></div>
        <a href="/ru" class="ui button red">
          RU
        </a>
      </div>
    </div>
  </div>
</div>
