<div class="ui secondary top large pointing fixed menu top_menu">
  <div class="left item">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
  </div>
  <div class="right item">
    <a class="active item" href="/">
      Styles and prices
    </a>
    <a class="delivery item" href="#">
      Delivery
    </a>
    <a class="payment item" href="#">
      Payment
    </a>
    <div class="item">
      <div class="ui buttons">
        <button class="ui button blue">
          Call
        </button>
        <div class="or"></div>
        <button class="ui button red">
          Mail
        </button>
      </div>
    </div>
  </div>
</div>
